<div class="page">
  {{ page.header }}
  {{ page.breadcrumb }}
  {{ page.highlighted }}
  {{ page.help }}
  {{ page.content }}
  {% if page.sidebar_first %}
    <aside class="layout-sidebar-first" role="complementary">
      {{ page.sidebar_first }}
    </aside>
  {% endif %}
  <main>

  </main>
  {{ page.footer }}
</div>
